@import '../../sass/variables.scss';

.app-header {
  display: flex;
  //justify-content: space-between;
  justify-content: space-evenly;;
  align-items: center;
  height: 100px;
  //margin-top: 20px;
  //margin-bottom: 14px;

  input {
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 1.6rem;
    height: 34px;
    //width: 100%;
    width: 300px;
    padding: 8%;

  }
}

input::placeholder {
  text-align: center;
}

.input {
  position: relative;
  //width: 180px;
}

.fas {
  font-size: 1.2rem;
  position: absolute;
  top: 18px;
  left: 8px;
}


.logo-wrapper {
  display: flex;
  align-items: center;

}

.fab-insta-wrapper {

}

.logo {
  border-left: 1px solid gray;
  font-family: $logoFont;
  font-size: $ml;
  margin-left: 20px;
  padding-left: 20px;

}

.header-icons-wrapper {
  display: flex;

  p {
    cursor: pointer;
    margin-left: 10px;
  }
}
