@import '../../sass/variables.scss';

.comments-section {
  margin-top: 12px;
}

.comments-wrapper {
  display: flex;
  margin-bottom: 10px;

}

.comment-content {
  margin-left: 16px;
}

time {
  color: #c7c7c7;
  font-size: 1.4rem;
  margin-left: 16px;
  font-weight: 600;
  margin-bottom: 12px;

}

.comment-input {
  height: 60px;
  margin: 24px 20px;

  input {
    //border: 1px solid lightgray;
    background-color: $primaryBgShading;
    border: none;
    border-top: 1px solid lightgray;
    padding: 5%;
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
  }

  input::placeholder {
    color: lightgray;
    text-align: start;
  }
}

