.comments-section {
  margin-top: 12px;
}

.comments-wrapper {
  display: flex;
  margin-bottom: 10px;

}

.comment-content {
  margin-left: 16px;
}

time {
  color: #c7c7c7;
  font-size: 1.4rem;
  margin-left: 16px;
  font-weight: 600;
  margin-bottom: 12px;

}
